body {
  background-color: lavender;
  color: ghostwhite;
  font-family: 'Cabin', sans-serif;
}
.top-box {
  background-color: #D0B8E0;
}
.count-box {
  border: ghostwhite solid 3px;
  background-color: lavender;
  color: #D0B8E0;
  padding: 0.5em
}
.count-box span {
  font-weight: 700;
  font-size: 1em;
}

.new-game-btn {
  border: ghostwhite solid 3px;
  padding: 0.5em;
  background-color: lavender;
  color: #D0B8E0;
  font-weight: 700;
  font-size: 1em;
}

.play-box {
  
}
.card-box {
  max-width: 570px;
  margin: 2em auto;
}

.card {
  margin: 10px;
  width: 120px;
  height: 120px;
  background-color: ghostwhite;
  border: none;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card-unmatched {
  display: none;
}

.card-matched {
  display: block!important;
}