body {
  background-color: lavender;
  color: ghostwhite;
}
.top-box {
  background-color: #D0B8E0;
}
.play-box {
  
}
.card-box {
  max-width: 570px;
  margin: 2em auto;
}

.card {
  margin: 10px;
  width: 120px;
  height: 120px;
  background-color: ghostwhite;
  border: none;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card-unmatched {
  display: none;
}

.card-matched {
  display: block!important;
}